<script src="js/appscripts.js"></script>
<script type="text/javascript" charset="utf-8">
    document.addEventListener("deviceready", onDeviceReady, false);

    function onDeviceReady() {
        Util.getSearchSuggestuinList();
    }
</script>
<body>
<div id="preloader"></div>
<div id="menuWrapper">
    <!-- #BeginLibraryItem "/Library/menu.lbi" -->
    <div id="menuOverlay"></div>
    <div id="menu">
        <div id="menuHeader">
            <img src="./img/logo_menu.svg"/>

            <a href="#" id="signOut">Sign Out</a>

            <div class="clear"></div>
        </div>
        <ul>
            <li><a href="#" id="home">Home</a></li>
            <li><a href="#" id="account">My Account Information</a></li>
            <li><a href="#" id="order-status">Order History</a></li>
            <li><a href="#" id="upload">Send Documents</a></li>
            <li id="departments"><a href="#" id="departmentsLink">Shop Purchasing Power</a>
                <ul>
                    <!--<li><a href="" id="computer" target="storefront">Computers &amp; Electronics</a></li>-->
                    <!--<li><a href="" id="homeFurniture" target="storefront">Home, Furniture &amp; Patio</a></li>-->
                    <!--<li><a href="" id="tvAndEntertainment" target="storefront">TV &amp; Entertainment</a></li>-->
                    <!--<li><a href="" id="appliances" target="storefront">Appliances</a></li>-->
                    <!--<li><a href="" id="fashionAndAccessories" target="storefront">Fashion &amp; Accessories</a></li>-->
                    <!--<li><a href="" id="sports_Fitness_Rec" target="storefront">Sports, Fitness &amp; Rec</a></li>-->
                    <!--<li><a href="" id="toys_Baby_Kids" target="storefront">Toys, Baby &amp; Kids</a></li>-->
                    <!--<li><a href="" id="luggageAndTravel" target="storefront">Luggage &amp; Travel</a></li>-->
                    <!--<li><a href="" id="healthAndBeauty" target="storefront">Health &amp; Beauty</a></li>-->
                    <!--<li><a href="" id="autoAndHomeImprovment" target="storefront">Auto &amp; Home Improvment</a></li>-->
                    <!--<li><a href="" id="education" target="storefront">Education</a></li>-->
                </ul>
            </li>
            <!--<li class="child"><a href="#" target="storefront" id="icon-slot-2">Best Sellers</a></li>-->
            <!--<li class="child"><a href="#" id="icon-slot-1" target="storefront">New Arrivals</a></li>-->
            <li><a href="#" id="about">Contact Us</a></li>
            <li class="child"><a href="#" id="callUs">Call Us Now</a></li>
            <li><a href="#" id="settingMenu">Settings</a></li>
        </ul>
    </div>
    <!-- #EndLibraryItem -->
</div>
<!-- #BeginLibraryItem "/Library/search.lbi" -->
<div id="searchOverlay">
    <div id="searchBar">
        <form class="search-form">
            <input type="text" id="searchField" placeholder="Product Search">
        </form>
        <a href="#" id="cancelSearch">Cancel</a>
    </div>
    <ul id="recentSearch" class="hidden"></ul>
</div>
<!-- #EndLibraryItem -->
<div id="header">
    <a href="#" id="menuLink"><img src="./img/menuLink.svg"/></a>

    <div id="title">Contact Us</div>
    <a href="#" id="searchLink"><img src="./img/searchLink.svg"/></a>
</div>

<div id="wrapper">
    <div class="content">
        <form id="contactForm" onsubmit="return false;">
            <select id="topicId">
                <option disabled selected>Select a Topic</option>
                <option value="Account Info">Account Info</option>
                <option value="Order Status">Order Status</option>
                <option value="Return or Replacement">Return / Replacement</option>
                <option value="Payment Issue">Payment Issue</option>
                <option value="Mobile App Issue">Mobile App Issue</option>
                <option value="Other">Other</option>
            </select>
            <label>Message (<span id="charNum">500</span> Characters Available)</label>
            <textarea id="messageId" onkeyup="countChar(this)"></textarea>
            <script>
                function countChar(val) {
                    var len = val.value.length;
                    if (len >= 501) {
                        val.value = val.value.substring(0, 501);
                    } else {
                        $('#charNum').text(500 - len);
                    }
                };
            </script>
            <button id="sendMessage" class="blueBG">Send Message</button>
        </form>
        <!-- <div class="center" style="padding-top:25px;">Need to call us?&nbsp; <span id="phoneNumber"></span></div> -->
    </div>

</div>
